* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
.header {
  position: relative;
  right: 0;
  left: 0;
}
.header .container .navbar {
  padding: 0;
}
.header .container .navbar a img {
  width: 80px;
  height: 80px;
}
.header .container .navbar .collapse {
  align-items: center !important;
}
.header .container .navbar .collapse ul {
  align-items: center !important;
}
.header .container .navbar .collapse ul li .atagedit {
  padding-right: 50px;
}
.header .container .navbar .collapse ul li button {
  background-color: #b61984;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid #b61984;
  margin-left: 50px;
  transition: 0.5s;
}
.header .container .navbar .collapse ul li button:hover {
  background-color: #fff;
  color: #b61984;
}
.header .container .navbar .collapse ul li a {
  padding: 0;
  line-height: 80px;
  color: #181818;
  font-size: 13.5px;
  font-weight: 600;
}
.header .container .navbar .collapse ul li a i {
  color: #181818;
  font-size: 13.5px;
  font-weight: 600;
  margin-left: 11px;
}

.carousel {
  background-image: url(../IMG/Violet_top_left_wave.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 60px;
}
.carousel img {
  width: 100%;
}
.carousel .container .detail {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .carousel .container .detail {
    flex-direction: column;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .carousel .container .detail {
    flex-direction: column;
  }
}
.carousel .container .detail .carousel__first {
  width: 50%;
}
@media only screen and (max-width: 576px) {
  .carousel .container .detail .carousel__first {
    width: 100%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .carousel .container .detail .carousel__first {
    width: 100%;
  }
}
.carousel .container .detail .carousel__first span {
  color: #b61984;
  font-size: 16.5px;
  font-weight: 600;
}
.carousel .container .detail .carousel__first h2 {
  font-size: 57px;
  color: #181818;
  font-weight: 700;
}
@media only screen and (max-width: 576px) {
  .carousel .container .detail .carousel__first h2 {
    font-size: 8vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .carousel .container .detail .carousel__first h2 {
    font-size: 7vw;
  }
}
.carousel .container .detail .carousel__second {
  width: 50%;
}
@media only screen and (max-width: 576px) {
  .carousel .container .detail .carousel__second {
    width: 100%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .carousel .container .detail .carousel__second {
    width: 100%;
  }
}
.carousel .container .detail .carousel__second img {
  width: 100%;
}

.teacher {
  background-image: url(../IMG/Wave_White_bottom_right_shape_01.png);
  padding-top: 30px;
  background-size: cover;
  background-color: #dcd1f3;
}
.teacher .container .teacher__row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .teacher .container .teacher__row {
    flex-direction: column;
  }
}
.teacher .container .teacher__row .column {
  width: 25%;
  padding: 0 20px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 576px) {
  .teacher .container .teacher__row .column {
    width: 100%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .teacher .container .teacher__row .column {
    width: 50%;
  }
}
.teacher .container .teacher__row .column .item-1 {
  animation: fadeInLeft 0.5s;
}
.teacher .container .teacher__row .column .item-2 {
  animation: fadeInLeft 1.5s;
}
.teacher .container .teacher__row .column .item-3 {
  animation: fadeInLeft 2.5s;
}
.teacher .container .teacher__row .column .item-4 {
  animation: fadeInLeft 3.5s;
}
.teacher .container .teacher__row .column .item {
  background-color: #fff;
  border-radius: 10px;
  transition: 0.5s;
}
.teacher .container .teacher__row .column .item:hover {
  -webkit-box-shadow: -1px 9px 15px -8px #000000;
  box-shadow: -1px 9px 15px -8px #000000;
}
.teacher .container .teacher__row .column .item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.teacher .container .teacher__row .column .item .detail {
  padding: 20px 0;
  background-color: rgb(255, 255, 255);
}
.teacher .container .teacher__row .column .item .detail span {
  color: #b61984;
  font-size: 11.5px;
  font-weight: 600;
}
.teacher .container .teacher__row .column .item .detail h3 {
  font-size: 23.25px;
  color: #181818;
  font-weight: 700;
}
.teacher .container .teacher__row .column .item .detail p {
  font-size: 15px;
  color: #181818;
}

.course {
  padding-top: 60px;
  background-image: url(../IMG/accent_bottom_wave_01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.course .container {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .course .container {
    flex-direction: column;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .course .container {
    flex-direction: column;
  }
}
.course .container .course__first {
  width: 50%;
  padding: 0 40px;
}
@media only screen and (max-width: 576px) {
  .course .container .course__first {
    width: 100%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .course .container .course__first {
    width: 100%;
    margin-bottom: 30px;
  }
}
.course .container .course__first img {
  width: 100%;
}
.course .container .course__second {
  width: 50%;
  padding: 0 70px;
}
@media only screen and (max-width: 576px) {
  .course .container .course__second {
    width: 100%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .course .container .course__second {
    width: 100%;
  }
}
.course .container .course__second .course__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  padding: 25px;
}
.course .container .course__second .course__form .name-mail {
  display: flex;
  margin-bottom: 15px;
}
@media only screen and (max-width: 576px) {
  .course .container .course__second .course__form .name-mail {
    flex-direction: column;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .course .container .course__second .course__form .name-mail {
    flex-direction: column;
  }
}
.course .container .course__second .course__form .name-mail input {
  max-width: 48%;
}
@media only screen and (max-width: 576px) {
  .course .container .course__second .course__form .name-mail input {
    max-width: 100%;
    margin: 0 !important;
    margin-bottom: 15px !important;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .course .container .course__second .course__form .name-mail input {
    max-width: 100%;
    margin: 0 !important;
    margin-bottom: 15px !important;
  }
}
.course .container .course__second .course__form h2 {
  font-size: 57px;
  color: #181818;
  font-weight: 700;
  font-size: 37.5px;
}
.course .container .course__second .course__form input {
  padding: 9px;
  padding-left: 42px;
  border: 1px solid #b2a7a7;
  border-radius: 22px;
}
.course .container .course__second .course__form select {
  padding: 9px;
  padding-left: 42px;
  border: 1px solid #b2a7a7;
  border-radius: 22px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 576px) {
  .course .container .course__second .course__form select {
    margin-bottom: 30px;
  }
}
.course .container .course__second .course__form textarea {
  padding: 12px 12px 12px 42px;
  height: 100px;
  border: 1px solid #b2a7a7;
  border-radius: 22px;
  margin-bottom: 45px;
}
@media only screen and (max-width: 576px) {
  .course .container .course__second .course__form textarea {
    margin-bottom: 30px !important;
  }
}
.course .container .course__second .course__form button {
  background-color: #b61984;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid #b61984;
  padding: 10px 40px;
  max-width: 150px;
  transition: 0.5s;
}
.course .container .course__second .course__form button:hover {
  background-color: #fff;
  color: #b61984;
}
@media only screen and (max-width: 576px) {
  .course .container .course__second .course__form button {
    max-width: 100%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .course .container .course__second .course__form button {
    max-width: 100%;
  }
}

.footer {
  background-image: url(../IMG/footer_background.jpg);
  padding: 120px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 576px) {
  .footer {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .footer {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .footer .container {
    flex-direction: column;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .footer .container {
    flex-wrap: wrap;
  }
}
.footer .container .footer__first {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
@media only screen and (max-width: 576px) {
  .footer .container .footer__first {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .footer .container .footer__first {
    width: 50%;
    margin-bottom: 25px;
  }
}
.footer .container .footer__first h4 {
  color: #ffffff;
  font-size: 23.25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer .container .footer__first span {
  color: #ffffff;
  font-size: 13.5px;
  padding-bottom: 20px;
}
.footer .container .footer__first .icon i {
  color: #ffffff;
  font-size: 13.5px;
  padding-bottom: 20px;
  margin-right: 12px;
}
.footer .container .footer__second, .footer .container .footer__third {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
@media only screen and (max-width: 576px) {
  .footer .container .footer__second, .footer .container .footer__third {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .footer .container .footer__second, .footer .container .footer__third {
    width: 50%;
    margin-bottom: 25px;
  }
}
.footer .container .footer__second h4, .footer .container .footer__third h4 {
  color: #ffffff;
  font-size: 23.25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer .container .footer__second a, .footer .container .footer__third a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13.5px;
  padding-bottom: 20px;
}
.footer .container .footer__fourth {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .footer .container .footer__fourth {
    width: 50%;
    margin-bottom: 25px;
  }
}
.footer .container .footer__fourth h4 {
  color: #ffffff;
  font-size: 23.25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer .container .footer__fourth input {
  text-align: center;
  padding: 12px 20px;
  border-radius: 22px;
  margin-bottom: 10px;
  background-color: #b61984;
  color: #ffffff !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .container .footer__fourth button {
  background-color: #b61984;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid #b61984;
  color: #181818;
  background-color: #fff;
  font-weight: 600;
  font-size: 13.5px;
  transition: 0.5s;
}
.footer .container .footer__fourth button:hover {
  background-color: #b61984;
  color: #ffffff;
}